<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Un filtre qui vérifie que l'administrateur est connecté -->
    <filter>
        <filter-name>adminFilter</filter-name>
        <filter-class>filters.ProtectedAdminPagesFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>adminFilter</filter-name>
        <url-pattern>/protectedAdmin/*</url-pattern>
    </filter-mapping>
    <!-- Un filtre qui vérifie que l'utilisateur est connecté -->
    <filter>
        <filter-name>userFilter</filter-name>
        <filter-class>filters.ProtectedUserPagesFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>userFilter</filter-name>
        <url-pattern>/protectedUser/*</url-pattern>
    </filter-mapping>
    <!-- Description de la servlet qui contrôle l'application -->
    <servlet>
        <servlet-name>applicationController</servlet-name>
        <servlet-class>controller.ApplicationController</servlet-class>
        <!-- Les identifiants de connexion de l'administrateur -->
        <init-param>
            <param-name>login</param-name>
            <param-value>azerty</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>1234</param-value>
        </init-param>
        <init-param>
            <param-name>adminName</param-name>
            <param-value>root</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>applicationController</servlet-name>
        <url-pattern>/appController</url-pattern>
    </servlet-mapping>
    <!-- Durée de session inactive en minutes -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- Page d'accueil de l'application -->
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
